html, body {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(240, 240, 240);
}

header {
    height: 150px;
    background: rgb(23, 177, 129);
    text-transform: uppercase;
}

header > h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Calibri, candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 150px;
    font-size: 72px;
    letter-spacing: 10px;
}

#nav_container {
    height: 60px;
    background: rgb(19, 145, 106);
    border-bottom: 10px solid rgb(23, 177, 129);
}

nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

nav > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
}
#bookingTable th{
    background:  rgb(23, 177, 129);
    font-family: Calibri, candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border-bottom-style: solid;
    border-bottom-color: rgb(19, 145, 106);
    border-bottom-width: 8px;
}
/*makes the add to itinerary table cell change from cursor hover*/
#itin:hover{
    cursor: pointer;
    background-color: #ccc;
    color: rgb(23, 177, 129);
  }
#itin{
    font-weight: bold;
}